body{
	background-color:#a6a4a4;
	display:flex;
}
.row{
	margin-top:100px;
	min-height:100px;
	justify-content:space-between;
}
.container{
	background-color:#94a191;
}

.content{
	color:black;
	font-weight:bold;
}